{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'tarefas/global.css' %}">
    <link rel="stylesheet" href="{% static 'tarefas/index.css' %}">
    <link rel="icon" href="{% static "img/logo.png" %}">
    <title>Gestor de Tarefas</title>
</head>
<body>

    <nav>
        <div class="logo">
                <a href="{% url 'tarefas:index'%}"><img style="width: 50px;padding:10px;" src="{% static 'img/logo.png'%}" alt=""></a>

            </div>
            <div>
            </div>
                <a style="margin-right:10px;" class="entrar" href="{%url 'tarefas:login'%}">Entrar</a>
                
        </div>
    </nav>

    <div class="wrapper">
        <div>
            <h1>FroggyFlow</h1>
            <h2>Organize suas tarefas de forma rápida e prática.
             Simples, eficiente e totalmente focado em você.</h2>
             <a class="junte" href="{%url 'tarefas:cadastro'%}">Junte-se a nós</a>
        </div>
        <div class="wrapper3">
            <img style="width: 400px;" src="{% static 'img/logo.png'%}" alt="">
        </div>

    </div>
</body>
</html>