

.add{
    color: #303030;
    margin: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}

.button-wrapper{
    margin-top: 2px;
    display: flex;
    justify-content: center;
}