{% load static %}
<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="{% static 'global.css' %}">
    <link rel="stylesheet" href="{% static 'index/index.css' %}">
    <link rel="icon" href="{% static " img/logo.png" %}">
    <title>Página de Login Simples</title>
</head>
<body>
    <div class="wrapper">
        <div class="wrapper2">
            <h1>Cadastro</h1>
        </div>
        <form>
            <input type="email" placeholder="E-mail" required>
            <input type="password" placeholder="Senha" required>
            <button type="submit">Cadastrar</button>
        </form>
        <div class="cadastro">
            <p style="font-size:15px">Ja tem uma conta?</p>
            <a style="font-size:15px" href="{% url 'tarefas:index'%}" class="link">Logar</a>
        </div>
    </div>
</body>
</html>