*{
    font-family: "Monaspace Neon", ui-monospace, SFMono-Regular,
    SF Mono, Menlo, Consolas, Liberation Mono, monospace  ;
    transition: 0.5s;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    color: #303030;

}

.wrapper{
    margin-top: 50px;
    display: block;
}

.wrapper h1{
    color: #303030;
    display: flex;
    align-items: center;
}


.wrapper2{
    display: flex;
    align-items: center;
    justify-self: center;
}

table{
    width: 100%;
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
}

tr{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
}

th{
    padding: 5px;
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
}

td{
    text-align: center;
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
}

.add{
    color: #303030;
    margin: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}

.add:hover{
    background-color: white;
}

.upt{
    color: #303030;
    margin: 1px;
    border: none;
    border-radius: 4px;
}

.upt:hover{
    background-color: white;
}

.rmv{
    border: none;
    color: #303030;
    margin: 1px;
    border-radius: 4px;
}

.rmv:hover{
    background-color: white;
}

.button-wrapper{
    margin-top: 2px;
    display: flex;
    justify-content: center;
}